In [1]:
import pandas as pd

First I start by importing the necessary libraries that I will be using.

In [2]:
train_1 = pd.read_csv(r'C:\Users\Abdul\Workspace\IEEE_Victoris2_competition\data\Train_Batch_1.csv')
train_2 = pd.read_csv(r'C:\Users\Abdul\Workspace\IEEE_Victoris2_competition\data\Train_Batch_2.csv')
train_3 = pd.read_csv(r'C:\Users\Abdul\Workspace\IEEE_Victoris2_competition\data\Train_Batch_3.csv')
test = pd.read_csv(r'C:\Users\Abdul\Workspace\IEEE_Victoris2_competition\data\test.csv')

As we can see we have three training batches and one test batch.

I will investigate the training batches first.

In [3]:
train_1.columns

Index(['Unnamed: 0', 'Person Description', 'Place Code', 'Customer Order',
       'Additional Features in market', 'Promotion Name', 'Store Kind',
       'Store Sales', 'Store Cost', 'Product Weights Data in (KG)',
       'Is Recyclable?', 'Min. Yearly Income', 'Store Area', 'Grocery Area',
       'Frozen Area', 'Meat Area', 'Cost'],
      dtype='object')

Let's change the columns names first to make it easier to work with.

In [4]:
train_1.columns = [col.lower().replace(' ', '_') for col in train_1.columns]
train_2.columns = [col.lower().replace(' ', '_') for col in train_2.columns]
new_columns = [col.replace('%20', ' ') for col in train_3.columns]
train_3.columns = new_columns
train_3.columns = [col.lower().replace(' ', '_') for col in train_3.columns]
test.columns = [col.lower().replace(' ', '_') for col in test.columns]

In [5]:
train_1.columns

Index(['unnamed:_0', 'person_description', 'place_code', 'customer_order',
       'additional_features_in_market', 'promotion_name', 'store_kind',
       'store_sales', 'store_cost', 'product_weights_data_in_(kg)',
       'is_recyclable?', 'min._yearly_income', 'store_area', 'grocery_area',
       'frozen_area', 'meat_area', 'cost'],
      dtype='object')

In [6]:
train_2.columns

Index(['unnamed:_0', 'person_description', 'place_code', 'customer_order',
       'additional_features_in_market', 'promotion_name', 'store_kind',
       'store_sales', 'store_cost', 'gross_weight', 'net_weight',
       'is_recyclable?', 'min._person_yearly_income', 'store_area',
       'grocery_area', 'frozen_area', 'meat_area', 'cost'],
      dtype='object')

In [7]:
train_3.columns

Index(['unnamed:_0', 'person_description', 'place_code', 'customer_order',
       'additional_features_in_market', 'promotion_name', 'store_kind',
       'store_sales', 'store_cost', 'gross_weight', 'net_weight',
       'weights_data', 'is_recyclable?', 'yearly_income', 'store_area',
       'grocery_area', 'frozen_area', 'meat_area', 'cost'],
      dtype='object')

In [8]:
test.columns

Index(['unnamed:_0', 'person_description', 'place_code', 'customer_order',
       'additional_features_in_market', 'promotion_name', 'store_kind',
       'store_sales', 'store_cost', 'gross_weight', 'net_weight',
       'package_weight', 'is_recyclable?', 'yearly_income', 'store_area',
       'grocery_area', 'frozen_area', 'meat_area'],
      dtype='object')

#### From looking at the info from the training batches and the test data we can notice that :
-  They are not exactly the same size as they vary in count of columns.
-  Most of the columns are present in all batches.  
-  Some columns are missing in some batches.
-  some columns names are different in some batches but they are the same such as the package weight.

#### Here is a table that shows the presence of each column in each batch:  
| Column name                   | Train 1 | Train 2 | Train 3 | Test |
| ----------------------------- | ------- | ------- | ------- | ---- |
| Unnamed : id                  | ✓       | ✓       | ✓       | ✓    |
| Person Description            | ✓       | ✓       | ✓       | ✓    |
| Place Code                    | ✓       | ✓       | ✓       | ✓    |
| Customer Order                | ✓       | ✓       | ✓       | ✓    |
| Additional Features in market | ✓       | ✓       | ✓       | ✓    |
| Promotion Name                | ✓       | ✓       | ✓       | ✓    |
| Store Kind                    | ✓       | ✓       | ✓       | ✓    |
| Store Sales                   | ✓       | ✓       | ✓       | ✓    |
| Store Cost                    | ✓       | ✓       | ✓       | ✓    |
| Gross Weight                  | ✕       | ✓       | ✓       | ✓    |
| Net Weight                    | ✕       | ✓       | ✓       | ✓    |
| Package Weight                | ✕       | ✕       | ✕       | ✓    |
| Weights Data                  | ✕       | ✕       | ✓       | ✕    |
| Product Weights Data in (KG)  | ✓       | ✕       | ✕       | ✕    |
| Is Recyclable?                | ✓       | ✓       | ✓       | ✓    |
| Yearly Income                 | ✕       | ✕       | ✓       | ✓    |
| Min. Yearly Income            | ✓       | ✕       | ✕       | ✕    |
| Min. Person Yearly Income     | ✕       | ✓       | ✕       | ✕    |
| Store Area                    | ✓       | ✓       | ✓       | ✓    |
| Grocery Area                  | ✓       | ✓       | ✓       | ✓    |
| Frozen Area                   | ✓       | ✓       | ✓       | ✓    |
| Meat Area                     | ✓       | ✓       | ✓       | ✓    |
| Cost                          | ✓       | ✓       | ✓       |    -----   |

Based on the table above we can see that the columns that are present in all batches are:
-  Unnamed : id
-  Person Description
-  Place Code
-  Customer Order
-  Additional Features in market
-  Promotion Name
-  Store Kind
-  Store Sales
-  Store Cost
-  Is Recyclable?
-  Store Area
-  Grocery Area
-  Frozen Area
-  Meat Area
-  Cost ( except for the test batch)
  
So let's start by investigating the columns that are different in each batch.

#### The columns that are different in each batch and conncted to weight are:
-  Gross Weight
-  Net Weight
-  Package Weight
-  Weights Data
-  Product Weights Data in (KG)
  
Let's start by investigating those columns.

#### Gross Weight:

In [9]:
print('train_2 gross_weight')
print('-'*20)
print(train_2['gross_weight'].describe())
print('-'*40)
print('train_3 gross_weight')
print('-'*20)
print(train_3['gross_weight'].describe())
print('-'*40)
print('test gross_weight')
print('-'*20)
print(test['gross_weight'].describe())

train_2 gross_weight
--------------------
count    11014.000000
mean        20.032870
std          6.700986
min          8.721600
25%         14.045325
50%         19.768900
75%         25.728600
max         31.833700
Name: gross_weight, dtype: float64
----------------------------------------
train_3 gross_weight
--------------------
count    5491.000000
mean       20.153632
std         6.683436
min         8.721600
25%        14.223400
50%        19.914200
75%        26.019300
max        31.833700
Name: gross_weight, dtype: float64
----------------------------------------
test gross_weight
--------------------
count    18959.000000
mean        20.081932
std          6.712775
min          8.721600
25%         14.114400
50%         19.768900
75%         25.874000
max         31.833700
Name: gross_weight, dtype: float64

As we can see from the description of the column in the three data sets, the column is the same in all batches.

Let's check for what eqals it in the first training batch.

In [10]:
train_1['product_weights_data_in_(kg)'].describe()

count                                                 19440
unique                                                  675
top       {'Gross Weight': 27.0368, 'Net Weight': 24.129...
freq                                                    161
Name: product_weights_data_in_(kg), dtype: object

Intresting , the column is not numeric in the first batch and inside it there are values for gross weight and net weight and package weight.

Let's see what we can do about that.

In [11]:
train_1['product_weights_data_in_(kg)'][0]

"{'Gross Weight': 28.1997, 'Net Weight': 26.6008, 'Package Weight': 1.599}"

So as it shows we will have to split the column into three columns and then drop the original column.

In [12]:
train_1[['gross_weight', 'net_weight', 'package_weight']] = train_1['product_weights_data_in_(kg)'].str.split(',', expand=True)

In [13]:
train_1.head(5)

,unnamed:_0,person_description,place_code,customer_order,additional_features_in_market,promotion_name,store_kind,store_sales,store_cost,product_weights_data_in_(kg),is_recyclable?,min._yearly_income,store_area,grocery_area,frozen_area,meat_area,cost,gross_weight,net_weight,package_weight
0,mc_ID_0,"Single Female with four children, education: b...",H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.76 Millions,4.2924 Millions,"{'Gross Weight': 28.1997, 'Net Weight': 26.600...",recyclable,10K+,2842.23,2037.64,481.98,323,602.7575,{'Gross Weight': 28.1997,'Net Weight': 26.6008,'Package Weight': 1.599}
1,mc_ID_1,"Single Female with three children, education: ...",S04ne_WA,"Snack Foods from Snack Foods department, Order...",NaN,Budget Bargains,Supermarket,6.36 Millions,1.9716 Millions,"{'Gross Weight': 16.571, 'Net Weight': 14.972,...",non recyclable,50K+,2814.95,2049.72,457.36,NaN,708.6650,{'Gross Weight': 16.571,'Net Weight': 14.972,'Package Weight': 1.599}
2,mc_ID_2,"Married Male with two children, education: hig...",L05es_CA,"Magazines from Periodicals department, Ordered...",['Florist'],Shelf Emptiers,Supermarket,10.86 Millions,4.4526 Millions,"{'Gross Weight': 28.6358, 'Net Weight': 27.182...",recyclable,30K+,2192.32,1322.21,523.32,348.85,564.2647,{'Gross Weight': 28.6358,'Net Weight': 27.1822,'Package Weight': 1.4536}
3,mc_ID_3,"Single Female with three children, education: ...",S03le_WA,"Dairy from Dairy department, Ordered Brand : C...",['Coffee Bar'],Savings Galore,NaN,1.98 Millions,0.6732 Millions,"{'Gross Weight': 14.2161, 'Net Weight': 11.294...",recyclable,30K+,1974.73,NaN,440.92,293.95,724.5119,{'Gross Weight': 14.2161,'Net Weight': 11.2944,'Package Weight': 2.9217}
4,mc_ID_4,"Married Female with five children, education: ...",M10da_YU,"Vegetables from Produce department, Ordered Br...","['Bar For Salad', 'Ready Food', 'Coffee Bar', ...",Sale Winners,Deluxe,11.56 Millions,4.9708 Millions,"{'Gross Weight': 12.6172, 'Net Weight': 9.71, ...",non recyclable,50K+,2862.3,1872.19,593.93,395.95,519.7574,{'Gross Weight': 12.6172,'Net Weight': 9.71,'Package Weight': 2.9072}

Now using regex we can extract the numeric values from each value in the column.

In [14]:
pattern = r'.*?(\d+\.\d+)'
train_1['gross_weight'] = train_1['gross_weight'].str.extract(pattern, expand=True)
train_1['net_weight'] = train_1['net_weight'].str.extract(pattern, expand=True)
train_1['package_weight'] = train_1['package_weight'].str.extract(pattern, expand=True)

Now i can drop the original column.

In [15]:
train_1.drop('product_weights_data_in_(kg)', axis=1, inplace=True)

In [16]:
train_1.head(5)

,unnamed:_0,person_description,place_code,customer_order,additional_features_in_market,promotion_name,store_kind,store_sales,store_cost,is_recyclable?,min._yearly_income,store_area,grocery_area,frozen_area,meat_area,cost,gross_weight,net_weight,package_weight
0,mc_ID_0,"Single Female with four children, education: b...",H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.76 Millions,4.2924 Millions,recyclable,10K+,2842.23,2037.64,481.98,323,602.7575,28.1997,26.6008,1.599
1,mc_ID_1,"Single Female with three children, education: ...",S04ne_WA,"Snack Foods from Snack Foods department, Order...",NaN,Budget Bargains,Supermarket,6.36 Millions,1.9716 Millions,non recyclable,50K+,2814.95,2049.72,457.36,NaN,708.6650,16.571,14.972,1.599
2,mc_ID_2,"Married Male with two children, education: hig...",L05es_CA,"Magazines from Periodicals department, Ordered...",['Florist'],Shelf Emptiers,Supermarket,10.86 Millions,4.4526 Millions,recyclable,30K+,2192.32,1322.21,523.32,348.85,564.2647,28.6358,27.1822,1.4536
3,mc_ID_3,"Single Female with three children, education: ...",S03le_WA,"Dairy from Dairy department, Ordered Brand : C...",['Coffee Bar'],Savings Galore,NaN,1.98 Millions,0.6732 Millions,recyclable,30K+,1974.73,NaN,440.92,293.95,724.5119,14.2161,11.2944,2.9217
4,mc_ID_4,"Married Female with five children, education: ...",M10da_YU,"Vegetables from Produce department, Ordered Br...","['Bar For Salad', 'Ready Food', 'Coffee Bar', ...",Sale Winners,Deluxe,11.56 Millions,4.9708 Millions,non recyclable,50K+,2862.3,1872.19,593.93,395.95,519.7574,12.6172,9.71,2.9072

Let's now compare the gross_weight column with the gross_weight column in the other batches but first let's change the data type of the columns to float.

In [17]:
train_1['gross_weight'] = train_1['gross_weight'].astype(float)
train_1['net_weight'] = train_1['net_weight'].astype(float)
train_1['package_weight'] = train_1['package_weight'].astype(float)

In [18]:
train_1['gross_weight'].describe()

count    19440.000000
mean        20.051451
std          6.732982
min          8.721600
25%         13.998100
50%         19.768900
75%         25.728600
max         31.833700
Name: gross_weight, dtype: float64

Everything looks good now , Let's move on to the next column.

#### Net Weight

In [19]:
print('train_1 net weight')
print('-' * 20)
print(train_1['net_weight'].describe())
print('-' * 40)
print('train_2 net weight')
print('-' * 20)
print(train_2['net_weight'].describe())
print('-' * 40)
print('train_3 net weight')
print('-' * 20)
print(train_3['net_weight'].describe())
print('-' * 40)
print('test net weight')
print('-' * 20)
print(test['net_weight'].describe())

train_1 net weight
--------------------
count    19440.000000
mean        17.122629
std          6.831984
min          4.433500
25%         11.105400
50%         16.861700
75%         23.257500
max         30.234700
Name: net_weight, dtype: float64
----------------------------------------
train_2 net weight
--------------------
count    11018.000000
mean        17.149701
std          6.804349
min          4.433500
25%         11.207200
50%         16.861700
75%         23.257500
max         30.234700
Name: net_weight, dtype: float64
----------------------------------------
train_3 net weight
--------------------
count    5511.000000
mean       17.152036
std         6.744036
min         4.491600
25%        11.294400
50%        16.861700
75%        22.966800
max        30.234700
Name: net_weight, dtype: float64
----------------------------------------
test net weight
--------------------
count    18924.000000
mean        17.185442
std          6.800127
min          4.433500
25%         11.294400
50%         16.861700
75%         23.257500
max         30.234700
Name: net_weight, dtype: float64

Everything looks good now in the gross weight and net weight columns , let's move on to package  weight.

#### Package Weight

We can see that the package weight column is only present in the first training batch and the test batch.

We can calculate the package weight by subtracting the net weight from the gross weight for the rest of the batches.

In [20]:
train_2['package_weight'] = train_2['gross_weight'] - train_2['net_weight']
train_3['package_weight'] = train_3['gross_weight'] - train_3['net_weight']

Now we can compare the package weight column in all the batches.

In [21]:
print('train_1 package weight')
print('-' * 20)
print(train_1['package_weight'].describe())
print('-' * 40)
print('train_2 package weight')
print('-' * 20)
print(train_2['package_weight'].describe())
print('-' * 40)
print('train_3 package weight')
print('-' * 20)
print(train_3['package_weight'].describe())
print('-' * 40)
print('test package weight')
print('-' * 20)
print(test['package_weight'].describe())

train_1 package weight
--------------------
count    19440.000000
mean         2.928825
std          1.007534
min          1.453600
25%          2.907200
50%          2.907200
75%          3.052500
max          4.506100
Name: package_weight, dtype: float64
----------------------------------------
train_2 package weight
--------------------
count    9378.000000
mean        2.927694
std         1.016697
min         1.453500
25%         1.599000
50%         2.907200
75%         3.052600
max         4.506200
Name: package_weight, dtype: float64
----------------------------------------
train_3 package weight
--------------------
count    4678.000000
mean        2.914510
std         1.014164
min         1.453500
25%         1.599000
50%         2.907200
75%         3.052600
max         4.506200
Name: package_weight, dtype: float64
----------------------------------------
test package weight
--------------------
count    19942.000000
mean         2.921236
std          1.014127
min          1.453600
25%          1.599000
50%          2.907200
75%          3.052500
max          4.506100
Name: package_weight, dtype: float64

Everything looks good now , let's move on to the next column.

The weights data column is only present in the third training batch, let's see what it contains.

In [22]:
train_3['weights_data'][0]

"{'Gross Weight': 23.2575, 'Net Weight': 20.3503, 'Package Weight': 2.9072}"

It seems that the column contains the gross weight and the net weight and the package weight but both the gross weight and the net weight are already present in the batch and we already calculated the package weight.

Let's compare some random values from these columns and see if they are the same, if they are the same we can drop the columns.

In [23]:
print(train_3['weights_data'][42])
print(train_3['weights_data'][5360])

{'Gross Weight': 21.5132, 'Net Weight': 18.606, 'Package Weight': 2.9072}
{'Gross Weight': 27.0368, 'Net Weight': 24.1296, 'Package Weight': 2.9072}

In [24]:
print(train_3['gross_weight'][42])
print(train_3['net_weight'][42])
print(train_3['package_weight'][42])
print(train_3['gross_weight'][5360])
print(train_3['net_weight'][5360])
print(train_3['package_weight'][5360])

21.5132
18.606
2.9071999999999996
27.0368
24.1296
2.9071999999999996

It looks like the columns are the same so we can drop the weights data column.

In [25]:
train_3.drop('weights_data', axis=1, inplace=True)

Now all the weight columns are the same in all batches, let's move on to the income columns.

#### Yearly Income

In [26]:
train_1['min._yearly_income'].value_counts()

min._yearly_income
30K+     6225
10K+     4145
50K+     3408
70K+     2449
130K+    1076
90K+      890
110K+     862
150K+     382
Name: count, dtype: int64

In [27]:
train_2['min._person_yearly_income'].value_counts()

min._person_yearly_income
30K+      4164
10K+      2839
50K+      2236
70K+      1561
130K+      758
90K+       571
110K+      563
150K+      259
130K+.       1
Name: count, dtype: int64

In [28]:
train_3['yearly_income'].value_counts()

yearly_income
30K+     2079
10K+     1389
50K+     1106
70K+      814
130K+     337
90K+      322
110K+     260
150K+     158
Name: count, dtype: int64

In [29]:
test['yearly_income'].value_counts()

yearly_income
30K+     6510
10K+     4243
50K+     3463
70K+     2513
130K+    1141
90K+      896
110K+     822
150K+     354
Name: count, dtype: int64

So all these columns have different names but they are the same, let's change the names so we could merge all the batches together.

In [30]:
train_1.rename(columns={'min._yearly_income': 'yearly_income'}, inplace=True)
train_2.rename(columns={'min._person_yearly_income': 'yearly_income'}, inplace=True)

Everything looks good now, we can on and merge the batches together.

#### Merging the batches

In [31]:
train = pd.concat([train_1, train_2, train_3], axis=0, ignore_index=True)

In [32]:
train.shape

(38862, 19)

Now that we have merged the batches together we can move on to the next step.

In [33]:
train.to_csv(r'C:\Users\Abdul\Workspace\IEEE_Victoris2_competition\data_joined\train_joined.csv', index=False)
test.to_csv(r'C:\Users\Abdul\Workspace\IEEE_Victoris2_competition\data_joined\test_joined.csv', index=False)